html{
    background: #040712;
}
body {
    margin-bottom:0;
    background: rgb(40,40,40);
    background: radial-gradient(circle, rgba(40,40,50,.3) 0%, rgba(40,40,50,0) 100%);
}
.nxd-slider-container {
    --sliderElWidth: 400px; /* 200px    */
    --sliderElHeight: 250px; /* 250px    */
    --sliderElHPaddingPrecent : 50%;
    --sliderTopMargin: 20%;
    --rotateX: -20deg; /* -10deg   */
    --perspective: 1000px; /* 1000px   */
    --radius: 550px; /* 550px    */
    --duration: 20s; /* 20s      */
    --modalBackgroundColor: rgba(12, 12, 12, 1);
    --modalTextColor: #d6d6d6;
    --modalBorderRadius: .6rem;
    --previewBorderRadius: .6rem;
}

.nxd-slider-container .banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.nxd-slider-container .banner .slider-container {
    position: absolute;
    width: var(--sliderElWidth);
    /*height: 0; var(--sliderElHeight); */
    top: var(--sliderTopMargin);
    left: calc(50% - (var(--sliderElWidth) / 2)); /* Center minus half of the width */
    z-index: 4;
}
.nxd-slider-container .banner .slider {
    padding-bottom: var(--sliderElHPaddingPrecent);

    /* 3D */
    transform-style: preserve-3d;
    transform: perspective(var(--perspective)) rotateX(var(--rotateX));
    z-index: 4;
}

.nxd-slider-container .banner .slider.clockwise {
    animation: autoRunClockwise var(--duration) linear infinite;
}

.nxd-slider-container .banner .slider.counter-clockwise {
    animation: autoRunCounterClockwise var(--duration) linear infinite;
}


@keyframes autoRunCounterClockwise {
    0% {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0deg);
    }

    100% {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(360deg);
    }
}

@keyframes autoRunClockwise {
    0% {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0deg);
    }

    100% {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(-360deg);
    }
}

.nxd-slider-container .banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(var(--radius));
    transition: all ease-in-out .2s;
    border-radius: var(--previewBorderRadius);
    overflow: hidden;
    z-index: 8;

    &:hover {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(var(--radius)) rotateX(calc(var(--rotateX) * -1));
    }
}

.nxd-slider-container .banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nxd-slider-container .banner .slider dialog {

    max-width: 70vw;

    border: none !important;
    border-radius: var(--modalBorderRadius);
    padding: 0;

    div.lightbox-content {

        background: var(--modalBackgroundColor);
        color: var(--modalTextColor);

        h3 {
            font-family: Avenir, sans-serif;
            margin: 0;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        div.lightbox-text {
            padding: 15px;
            font-family: sans-serif;
            font-weight: lighter;
        }

    }

    img {
        max-width: 70vw;
        max-height: 70vh;
        vertical-align: top; /*Line height IMG element */
    }

    .lightbox-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        color: var(--modalTextColor);
        background:rgba(12, 12, 12, .7);
        border-bottom-left-radius: var(--modalBorderRadius);
        font-size: 2rem;
        opacity: .7;
        transition: .2s;

        &:hover{
            opacity: 1;
        }

        >*{
            cursor: pointer;
            margin-top: 8px;
           &:hover{
               color: #fff;
               text-shadow: 0 0 10px rgba(0,0,0, .8);
           }
        }


    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &::backdrop {
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.8);
    }

}


.nxd-slider-container .banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.nxd-slider-container .banner .content .model {
    background-image: url("/images/model_bgrem.png");
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
}

.nxd-slider-container .banner .content .model-text {
    color: #fff;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 30px;

    h1{
        font-family: "Arial Black", sans-serif;
        line-height: 8rem;
        font-size: 10rem;
        margin: 0;
        padding: 0;
        text-align: left;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: rgba(255,255,255,.05);
        text-shadow: 0px 5rem 1rem #000;
    }
    p.credits {
        text-align: right;
        position: fixed;
        bottom: 0;
        right: 0;
        font-family: "Arial", sans-serif;
        font-size: .75rem;
        color: #b1b1b1;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
}

.nxd-slider-container .controls-container{
    font-family: Avenir, sans-serif;
    font-size: 10rem;
    line-height: 10rem;
    height: 10rem;
    user-select: none;

    position: absolute;
    z-index: 2;
    /* Align vertically centered full width */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding:2rem;


    /* flex child items and make sure first is fully left and the second fully right oriented */
    display: flex;
    justify-content: space-between;

    /* Vertical align text in the middle */
    align-items: center;

    /* Font orientation to center for line height */
    text-align: center;

    &>div{
        cursor: pointer;
        padding:2rem;
        color: rgba(255, 255, 255, 0.2);
        transition: 0.2s;
        &:hover{
            color: rgba(255, 255, 255, 0.8);
        }
    }
}



